*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


:root{
    --backgroundColor1:#F4F4F4;
    --backgroundColor: #dbcee1 ; 
    --colorButton1: #CD5C66;
    --colorButton2: #F5F0E5;
    --colorTexte: #A1824A;
    --backgroundColorCard:#D9D9D9;
    --backgroundFrom:#52539A;
}

h2{
    font-family: "Holtwood One SC", serif;

}

html {
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
}  
/* scroll bar  */
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: var(--colorButton1);
}
::-webkit-scrollbar-thumb{
    background: var(--backgroundColor) ;
    border-radius: 10px;
}
/* scroll bar  */

body{
    background: var(--backgroundColor1) ;
    scroll-behavior: smooth;
    display: grid;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}



main .containerCarousel{
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-delay: 0.2s;
}
main .cardCotainer {
  grid-column:1/3 ;
  grid-row: 2/3 ;
  transition-delay: 0.4s;
}

.navPrincipal{
    position: relative;
}


p, .autrePage li{
  color: var(--colorTexte);
}
.autrePage li{
  list-style:circle;
  margin-left: 30px;
}

h1{
  visibility: hidden;
  display: none;
}
h2{
  text-align: center;
  margin: 80px 0;
  color: var(--backgroundFrom);
}


/* Style du menu hamburger */

.off{
  display: none;
}
li{
  list-style: none;
}
.navPrincipal{
  width: 100%;
}
.hide{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: space-around ;
    position: fixed;
    padding-top: 25px;
    right: 0;
    top: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    /* background: rgba(255, 255, 255, 0.35); */
    /* début glassmorphism */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    /* fin glassmorphism */
    transform: translateY(-20%);/* On indique ici que notre menu va translater de la droite vers la gauche, d'une distance équivalante à 50% de l'écran*/
    animation: apparition .6s ease-in-out forwards;/*On utilise animation pour créer une animation que l'on nomme apparition, le temps de l'animation va durer 0.6s, être rapide au début et lent à la fin*/
    /*forwards sert à faire en sorte que à la fin de l'animation le menu hamburger reste fixe*/
    opacity: 0;/* Opacity 0 pour que notre éléments soit invisible au début puis apparaît progressivement grâce au keyframes*/
}
/* Nous sert à créer l'animation d'apparition du menu nav sur la version mobile */
@keyframes apparition { /*Permet de déclarer un ensemble d'étape clée pour l'animation apparition*/
    100%{/*Cela indique que les styles spécifiés à l'intérieur des accolades suivantes s'appliqueront lorsque l'animation atteindra 100% de sa progression. En d'autres termes, à la fin de l'animation.*/
        opacity: 1;/*Pour que l'élément soit visible à la fin */
        transform:none;  /*Cela réinitialise toute transformation appliquée à l'élément*/  
    }
}
.menuHamburger{
    width: 30px;
    height: 30px;
    position: fixed ;
    right: 20px;
    top: 27px;
    z-index: 2;
    border-radius: 10px;
}
.menuHamburger div{
    border: solid var(--colorButton1) 1px;
    width: 70%;
    margin: 31% 15% 0;
}
#menu li {
    text-align: center;
    margin-bottom: 20px;
}
#menu li a{
    color: var(--backgroundFrom);
    font-family: "Holtwood One SC", serif;
}
#menu li a:hover{
  color: var(--colorButton1);
  transition: 0.5s;
}
/* animation des listes du menu  */
#menu li a span {
  position: relative;
  display: inline-block; /* Assure que le span occupe juste l'espace nécessaire pour son contenu */
}

#menu li a span::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -1.5px; /* Ajustez cette valeur pour changer la distance de la ligne par rapport au texte */
  left: 50%;
  background-color: var(--backgroundFrom); /* Couleur de la ligne */
  transition: width 0.5s ease, left 0.5s ease; /* Animation douce */
}

#menu li a:hover span::after, #menu li a:focus span::after {
  width: 100%;
  left: 0;
}

/*On donne une position finale aux 2 barres du menu hamburger */
.croix{
    position: absolute;
    top: 3px;
    transition: 0.5s;

}
.angleBarre1{
    transform: rotate(45deg);

}
.angleBarre2{
    transform: rotate(-45deg);
}

/* fin du style du menu hamburger */

#description{
  margin-top: 50px;
}
.logo{
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    border-bottom: solid 1px red;
}
.logoYoutube{
    width: 22%;
    margin: auto;
    border-radius: 100%;
    border: solid 1px white;
}




footer{
  text-align: center;
  padding: 40px 0;
  margin-top: 40px;
}
footer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer a{
  color: var(--backgroundFrom);
  text-decoration: underline;

}

.headerBann{
    margin-left: calc(50% - 428px);
    margin-right: calc(50% - 428px);
}
.contanerBanniere{
    height: 0;
    padding-top: 16.12%;
    position: relative;
}

.banniere{
    background-image: url(../img/Banniere.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    transform-origin: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.short1{
  transition-delay: 0.2s;
}
.short2{
  transition-delay: 0.4s;
}
iframe{
  margin: auto;
}
.buttonChaine{
    display: flex;
    justify-content: center;
    width: 100%;
}
.buttonChaine a{
  background: var(--colorButton1);
  padding: 10px 30px ;
  border-radius: 20px ;
  margin-top: 10px;
  -webkit-outline:solid 3px var(--colorButton1);
  outline: solid 3px var(--colorButton1) ;
}
.buttonChaine a:hover{
  -webkit-outline:solid 3px var(--colorButton1);
  outline: solid 3px var(--colorButton1) ;
  border-radius: 20px ;
  background: var(--backgroundColor1);
  color: var(--colorButton1);
  transition: 0.5s;
}

#sectionNosVideos .buttonChaine{
  margin-top: 40px;
} 

a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
i{
  color: var(--backgroundFrom);
}
.texteDescription{
  padding: 5%; 
}


/* formulaire  */

#contact {
  background-color: var(--backgroundColor1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-links h2{
  margin: 0;
  color: var(--backgroundFrom);
}
.contact-box {
  width: clamp(100px, 90%, 1000px);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.contact-links, .contact-form-wrapper {
  width: 50%;
  padding: 8% 5% 10% 5%;
}


.contact-links {
  background: url(../img/background/fond.png);
  border-radius: 10px 0 0 10px;
}

.contact-form-wrapper {
    border-radius: 0 10px 10px 0;
    background: rgba(219, 206, 225, 0.42);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(219, 206, 225, 0.44);
}

@media only screen and (max-width: 800px) {
  .contact-links, .contact-form-wrapper {
    width: 100%;
  }
  
  .contact-links {
    border-radius: 10px 10px 0 0;
  }
  
  .contact-form-wrapper {
    border-radius: 0 0 10px 10px;
  }
}

@media only screen and (max-width: 400px) {
  .contact-box {
    width: 95%;
    margin: auto;
  }
}


.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.link {
  margin: 10px;
  cursor: pointer;
}

.imgContact {
  width: 45px;
  height: 45px;
  filter: 
    hue-rotate(220deg)
    drop-shadow(2px 4px 4px #0006);
  transition: 0.2s;
  user-select: none;
}

.imgContact:hover {
  transform: scale(1.1, 1.1);
}

.imgContact:active {
  transform: scale(1.1, 1.1);
  filter: 
    hue-rotate(220deg)
    drop-shadow(2px 4px 4px #222)
    sepia(0.3);
}

.form-item {
  position: relative;
}

label, input, textarea {
  font-family: 'Poppins', sans-serif;
}

label {
  position: absolute;
  top: 10px;
  left: 2%;
  color: #999;
  font-size: clamp(14px, 1.5vw, 18px);
  pointer-events: none;
  user-select: none;
}

input, textarea {
  width: 100%;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px;
  font-size: clamp(15px, 1.5vw, 18px);
}
  
input:focus+label, 
input:valid+label, 
textarea:focus+label, 
textarea:valid+label {
  font-size: clamp(13px, 1.3vw, 16px);
  color: #777;
  top: -20px;
  transition: all .225s ease;
}

.submit-btn {
  background-color: var(--colorButton1);
  filter: drop-shadow(2px 2px 3px #0003);
  color: #fff;
  font-family: "Poppins",sans-serif;
  font-size: clamp(16px, 1.6vw, 18px);
  display: block;
  padding: 12px 20px;
  margin: 2px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.submit-btn:hover {
  transform: scale(1.1, 1.1);
}

.submit-btn:active {
  transform: scale(1.1, 1.1);
  filter: sepia(0.5);
}



@media only screen and (max-width: 400px) {

  
  .links {
    padding-top: 30px;
  }
  
  .imgContact {
    width: 38px;
    height: 38px;
  }
}
  
  
/* fin du formulaire   */

/* button switch  */
.navPrincipal{
    position: relative;
}
#container{
    top: 15px;
    right: 78px;
    position: fixed;
}
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    transform-style: preserve-3d;
    perspective: 500px;
    animation: toggleAnimation 3s infinite;
  }
  
  .switch::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: blur(20px);
    z-index: -1;
    border-radius: 50px;
    background-color: #d8ff99;
  }
  

  
  /* / The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fdfefedc;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider::before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.3em;
    bottom: 0.35em;
    transition: .4s;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
       rgba(0, 0, 0, 0.09) 0px -1px 15px -8px;
    background-color: #CD5C66;
  }
  
  .inputcheck:checked + .slider {
    background-color: var(--backgroundColor);
  }

  
  
  .inputcheck:checked + .slider::before {
    transform: translateX(1.5em);
  }
  
  @keyframes toggleAnimation {
    0%, 50%, 100% {
      transform: translateY(0px) rotateX(15deg) rotateY(-20deg);
    }
  }
/* fin du button switch  */



/* css du carousel  */

.containeCarousel {
  width: 500px;
  height: 500px;
  display: flex;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
      0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.containerCarousel img {
  width: 300px;
  height: 300px;
  z-index: -2;
  border-radius: 30px;
}

button {
  height: 10%;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: 1em;
  display: flex;
}

button .arrow {
  border: solid 1px var(--backgroundFrom);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  transition: transform 0.3s ease-out;
  outline: none;
}

#right-btn {
  margin: auto 0 auto -2em;
}

#right-btn .arrow {
  transform: rotate(-45deg);
}

#left-btn {
  z-index: 0;
  margin: auto -2em auto 0;
}

#left-btn .arrow {
  transform: rotate(135deg);
}
/* fin du carousel  */
.videosShorts{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.videosShorts iframe{
    gap: 20px;
}
.cardCotainer{
    display: grid;
    grid-template-columns: repeat(12, 1fr) ;
    grid-template-rows: repeat(19, 1fr) ;
    width: 320px;
    margin: auto;
}
.photo,.descriptions{
    border-radius: 30px;
}
.imgVideo{
  width: 320px;
}
.videoYoutube{
  display: flex;
  justify-content: center;
}

.descriptions{
    background: var(--backgroundColorCard);
    grid-row: 3 / 19;
    grid-column: 2 / 12;
}
.photo{
    grid-row: 1 / 7;
    grid-column: 9 / 13;
}
.photo img{
    border-radius: 10%;
    width: 100px;
}
.descriptions h2{
    margin: 50px 0 27px 20px;   
    text-align: start;
}
.descriptions p{
    margin: 0 20px;
}

.dark{
    color:black;
}
#contacterButton{
    grid-column: 4 / 10;
    grid-row: 15 / 17;
    border-radius:20px ;
}
section{
    position: relative;
}
#idSectionNosVideos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.line{
    border: solid 1px var(--backgroundFrom);
    width: 22%;
}
.videoYoutube{
    width: 320px;
}

.autrePage{
  padding: 0 15% 10% 15%;
}
.autrePage p {
  font-size: xx-small;
  margin: 30px 0;

}
.autrePage h1, .autrePage h2{
    font-size: x-small;
}
.autrePage a{
    color: var(--colorButton1);
}



@media screen and (min-width:425px){
  #footerMentionPolitique{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #left-btn, #right-btn {
    z-index: 0;
    margin: 0;
  }


}

@media screen and (min-width:750px){
  .imgVideo{
    width: 100%;
    height: 100%;
  }
  .containerCarousel img {
    width: 600px;
    height: 600px;
  }




}



@media screen and (min-width:1024px){
    .autrePage{
        padding: 0 20% 10% 20%;
    }
    .autrePage p{
        font-size: initial;
    }
    .autrePage h1, .autrePage h2{
        font-size:initial;
    
    }
    .logo{
        width: 42%;
    }
    main{
        grid-template-rows: 1fr ;
        grid-template-columns: 1fr 1fr ;
    }
    main .containerCarousel{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    main .cardCotainer{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .videoYoutube{
        
        width: 560px;
        height: 315px;
    }
    #menu li a{
        font-size: 2rem;
    }
    .line{
        width: 32%;
    }

    
}

