*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

:root{
    --backgroundColor: #FEFCFF ; 
    --colorButton1: #009963;
    --colorButton2: #F5F0E5;
    --colorTexte: #A1824A;
}

body{
    background: var(--backgroundColor) ;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    display: grid;

}

p{
    color: var(--colorTexte);
}
h1{
    padding: 20px 0;
    margin: auto;

}
.logo{
    width: 50%;
    border-radius: 100%;
    border: solid 1px rgb(220, 215, 215);
    margin-bottom: 30px;
}

main figure, main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    text-align: center;
    padding: 20px 0;
}
footer .logoReseaux{
    margin-bottom: 20px;
}

.banniere{
    width: 100%;
}

main{
    padding: 30px 0 60px 0;

}
iframe{
    margin: auto;
}
#buttonChaine{
    display: flex;
    justify-content: center;
    width: 100%;
}
#buttonChaine a{
    background: var(--colorButton1);
    padding: 10px 30px ;
    border-radius: 20px ;
    margin-bottom: 10px;
}
#buttonChaine a:hover{
    border-radius: 1px solid var(--colorButton1);
    background: var(--colorButton2);
    color: var(--colorButton1);
    transition: 0.2s;
}
a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
i{
    color: var(--colorTexte);
}
