*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 1px red; */
} 


:root{
    --backgroundColor1:#F4F4F4;
    --backgroundColor: #dbcee1 ; 
    --colorButton1: #CD5C66;
    --colorButton2: #F5F0E5;
    --colorTexte: #A1824A;
    --backgroundColorCard:#D9D9D9;
    --backgroundFrom:#52539A;
}

h2{
    font-family: "Holtwood One SC", serif;

}

html {
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
}  
/* scroll bar  */
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: var(--colorButton1);
}
::-webkit-scrollbar-thumb{
    background: var(--backgroundColor) ;
    border-radius: 10px;
}
/* scroll bar  */

body{
    background: var(--backgroundColor1) ;
    scroll-behavior: smooth;
    display: grid;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}



main .carousel{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
main .cardCotainer {
    grid-column:1/3 ;
    grid-row: 2/3 ;
}


p{
    color: var(--colorTexte);
}
h1{
    visibility: hidden;
    display: none;
}
h2{
    text-align: center;
    margin: 80px 0;
}

.logo{
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    border-bottom: solid 1px red;
}
.logoYoutube{
    width: 22%;
    margin: auto;
    border-radius: 100%;
    border: solid 1px white;
}




footer{
    text-align: center;
    padding: 20px 0;
}
footer .logoReseaux{
    margin-bottom: 20px;
}
.headerBann{
    margin-left: calc(50% - 428px);
    margin-right: calc(50% - 428px);
}
.contanerBanniere{
    height: 0;
    padding-top: 16.12%;
    position: relative;
}

.banniere{
    background-image: url(../img/Banniere.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    transform-origin: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


iframe{
    margin: auto;
}
.buttonChaine{
    display: flex;
    justify-content: center;
    width: 100%;
}
.buttonChaine a{
    background: var(--colorButton1);
    padding: 10px 30px ;
    border-radius: 20px ;
    margin-bottom: 10px;
}
.buttonChaine a:hover{
    border-radius: 20px ;
    background: var(--colorButton2);
    color: var(--colorButton1);
    transition: 0.8s;
}
a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
i{
    color: var(--colorTexte);
}
.texteDescription{
    padding: 5%; 
}


/* formulaire  */

#contact {
    background-color: var(--backgroundColor1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-links h2{
    margin: 0;
    color: var(--backgroundColorCard);
  }
  
  .contact-box {
    width: clamp(100px, 90%, 1000px);
    margin: 80px 50px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .contact-links, .contact-form-wrapper {
    width: 50%;
    padding: 8% 5% 10% 5%;
  }
  
  
  .contact-links {
    background-color: #1f2e43;
    background:
      radial-gradient(
        circle at 55% 92%, #426691 0 12%, transparent 12.2%
      ), 
      radial-gradient(
        circle at 94% 72%, #426691 0 10%, transparent 10.2%
      ), 
      radial-gradient(
        circle at 20% max(78%, 350px), #263a53 0 7%, transparent 7.2%
      ), 
      radial-gradient(
        circle at 0% 0%, #263a53 0 40%, transparent 40.2%
      ), 
      #1f2e43;
    border-radius: 10px 0 0 10px;
  }
  
  .contact-form-wrapper {
    border-radius: 0 10px 10px 0;
    background: rgba(219, 206, 225, 0.42);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(219, 206, 225, 0.44);
  }
  
  @media only screen and (max-width: 800px) {
    .contact-links, .contact-form-wrapper {
      width: 100%;
    }
    
    .contact-links {
      border-radius: 10px 10px 0 0;
    }
    
    .contact-form-wrapper {
      border-radius: 0 0 10px 10px;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .contact-box {
      width: 95%;
      margin: 8% 5%;
    }
  }
  
  
  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
  }
  
  .link {
    margin: 10px;
    cursor: pointer;
  }
  
  .imgContact {
    width: 45px;
    height: 45px;
    filter: 
      hue-rotate(220deg)
      drop-shadow(2px 4px 4px #0006);
    transition: 0.2s;
    user-select: none;
  }
  
  .imgContact:hover {
    transform: scale(1.1, 1.1);
  }
  
  .imgContact:active {
    transform: scale(1.1, 1.1);
    filter: 
      hue-rotate(220deg)
      drop-shadow(2px 4px 4px #222)
      sepia(0.3);
  }
  
  .form-item {
    position: relative;
  }
  
  label, input, textarea {
    font-family: 'Poppins', sans-serif;
  }
  
  label {
    position: absolute;
    top: 10px;
    left: 2%;
    color: #999;
    font-size: clamp(14px, 1.5vw, 18px);
    pointer-events: none;
    user-select: none;
  }
  
  input, textarea {
    width: 100%;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 12px;
    font-size: clamp(15px, 1.5vw, 18px);
  }
  
  input:focus+label, 
  input:valid+label, 
  textarea:focus+label, 
  textarea:valid+label {
    font-size: clamp(13px, 1.3vw, 16px);
    color: #777;
    top: -20px;
    transition: all .225s ease;
  }
  
  .submit-btn {
    background-color: var(--colorButton1);
    filter: drop-shadow(2px 2px 3px #0003);
    color: #fff;
    font-family: "Poppins",sans-serif;
    font-size: clamp(16px, 1.6vw, 18px);
    display: block;
    padding: 12px 20px;
    margin: 2px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
  }
  
  .submit-btn:hover {
    transform: scale(1.1, 1.1);
  }
  
  .submit-btn:active {
    transform: scale(1.1, 1.1);
    filter: sepia(0.5);
  }
  

  
  @media only screen and (max-width: 400px) {

    
    .links {
      padding-top: 30px;
    }
    
    .imgContact {
      width: 38px;
      height: 38px;
    }
  }
  
/* fin du formulaire   */

/* button switch  */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    transform-style: preserve-3d;
    perspective: 500px;
    animation: toggle__animation 3s infinite;
  }
  
  .switch::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: blur(20px);
    z-index: -1;
    border-radius: 50px;
    background-color: #d8ff99;
  }
  
  /* / Hide default HTML checkbox / */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* / The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fdfefedc;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.3em;
    bottom: 0.35em;
    transition: .4s;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
       rgba(0, 0, 0, 0.09) 0px -1px 15px -8px;
    background-color: #CD5C66;
  }
  
  .inputcheck:checked + .slider {
    background-color: var(--backgroundColor);
  }
  
  .inputcheck:checked + .slider:before {
    transform: translateX(1.5em);
  }
  
  @keyframes toggle__animation {
  
  
    0%, 50%, 100% {
      transform: translateY(0px) rotateX(15deg) rotateY(-20deg);
    }
  }
/* fin du button switch  */



/* css du carousel  */
.carousel {
    position: relative;
    height: 360px;
    width: 239px;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  .carousel__images {
    max-width: 500px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .carousel__track-container {
    background: pink;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
  }
  .carousel__track {
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
    transition: transform 0.4s ease-in-out;
  }
  .carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in;
  }
  .carousel__button:hover {
    background-color: rgb(254, 215, 222);
    border-radius: 20px;
  }
  
  .carousel__button--left {
    left: -40px;
  }
  .carousel__button--right {
    right: -40px;
     transform: translateY(-50%) rotate(180deg)
  }
  .carousel__button img {
    width: 25px;
  }
  .carousel__nav {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 1rem;
  }
  .carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }
  
  .carousel__indicator.current-slide {
    background: rgba(0, 0, 0, 0.9);
  }
  .is-hidden {
    display: none;
  }

/* fin du css du carousel  */
.VideosShorts{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.VideosShorts iframe{
    gap: 20px;
}
.cardCotainer{
    display: grid;
    grid-template-columns: repeat(12, 1fr) ;
    grid-template-rows: repeat(19, 1fr) ;
    width: 320px;
    margin: auto;
}
.photo,.descriptions{
    border-radius: 10%;
}
.descriptions{
    background: var(--backgroundColorCard);
    grid-row: 3 / 19;
    grid-column: 2 / 12;
}
.photo{
    grid-row: 1 / 7;
    grid-column: 9 / 13;
}
.photo img{
    border-radius: 10%;
    width: 100px;
}
.descriptions h2{
    margin: 50px 0 27px 20px;   
    text-align: start;
}
.descriptions p{
    margin: 0 20px;
}

.dark{
    color:black;
}
#contacterButton{
    grid-column: 4 / 10;
    grid-row: 15 / 17;
    border-radius:20px ;
}
section{
    position: relative;
}
#idSectionNosVideos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.line{
    border: solid 1px black;
    width: 22%;
}


